<!DOCTYPE html>
<html>
	<head>
		<title>Малина - сеть семейных клубов</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container">
		<div class="row">
	<div class="col-xs-12" id="space"><br><br><h2>Познавайте мир вместе с нами!<br> Сеть семейных клубов - Малина</h2></div>
</div>
			<div class="row" id="cont">
				<div class="col-xs-5"><a href="/moscovskiy" style="color:#808080"><h4>г.Московский, 3 микрорайон, д.11:<br>+7(499)583-03-67</h4></a></div>
				<div class="col-xs-2" id="pop2"><img style="margin-top:-115px" src="/img/logo.png" class="logo"></div>
				<div class="col-xs-5"><a href="/kyzminki" style="color:#808080" ><h4>г.Москва,ул. Васильцовский стан, д.11:<br>+7(499)649-38-51</h4></a></div>
			</div>
			
<div class="row">
	<div class="col-xs-9"></div>
	<div class="col-xs-1"><a href="https://www.instagram.com/clubmalina/" title="Instagram"><img src="/img/insta.png" class="vk"></a></div>
	<div class="col-xs-1"><a href="http://vk.com/c_malina" title="Vkontakte"><img src="/img/vk.png" class="vk"></a></div>
	<div class="col-xs-1"><a href="https://www.facebook.com/clubmalina/" title="Facebook"><img src="/img/fb.png" class="vk"></a></div>
</div>


<div class="row" id="cont">
	<!-- MENU-->
	<div class="col-xs-12">
		<div id="css-menu" background-color="red">
		<ul>
			<li><a href="#">
					<span class="text-top">Отзывы</span>
				</a></li>
			<li><a href="#">
					<span class="text-top">Новости</span>
				</a></li>
			<li><a href="#">
					<span class="text-top">Фото</span>
				</a></li>
			<li><a href="#">
					<span class="text-top">Контакты</span>
				</a></li>
			<li><a href="#">
					<span class="text-top">Правила</span>
				</a></li>
		</ul>
		</div>
	</div>
	<!--END OF MENU -->
	
</div>
<div class="row">
	<div class="col-xs-12" id="space"><br><br><br><br><br></div>
</div>
		<!--новые события-->
			<div class="row" id="cont">
				<div class="col-xs-4"><a href="/tancev_st"><img src="/img/logo.png"> </a></div>
				<div class="col-xs-4"><a href="/teatr"><img src="/img/logo.png"> </a></div>
				<div class="col-xs-4"><a href="/school_int"><img src="/img/logo.png"></a></div>
			</div>
			
			<!--end новые события-->
<div class="row">
	<div class="col-xs-12" id="space"><br><br><br><br><br></div>
</div>

	</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery-1.9.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
  <footer>
  	<div class="row">
  		<div class="col-xs-5" id="foot">© 2007-2016, Сеть семейных клубов «Малина».</div>
  		<div class="col-xs-5" id="foot2">©Kinasu</div>
  	</div>
  </footer>
</html>
